@model TRAVIL.Models.Register
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegPage</title>
    <link href="~/Content/Register.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form class="register-form">
            <input id="name1" name="name"  type="text" placeholder="Name" />
            <input id="password1" name="password"  type="password" placeholder="Password" />
            <input id="eMail1" name="eMail" type="text" placeholder="Email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>

        </form>
    </div>
</body>
</html>
